* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #c6caed;
}

/* header style */

header {
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    justify-content: space-between;
    background-color: #e1e3f5;
    padding-bottom: 10px;
}

header h1 {
    font-size: 75px;
    color: #4059ad;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 20px;
}

header h1 img {
    width: 7%;
   max-height: fit-content;
   max-width: fit-content ;
}

header a {
    text-decoration: none;
    color: #4059ad;
}

header nav {
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    font-weight: light;
    font-size: 18px;
    margin: 10px;
}

header nav ul li a:hover {
    color: #f7a072;
}

.section-title {
    color: #374f9c;
}

/*about me style */

#about-me {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.description {
   flex-wrap: wrap;
   margin-left: 15px;
   border: 5px solid #f7a072;
   background-color: #e1e3f5;
}

.description h2 {
    justify-content: flex-start;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 5px;
}

.description p {
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
    font-weight: lighter;
    color: #4059ad;
}

.avatar {
    display: flex;
    justify-content: flex-end;
}

.avatar img {
    justify-content: flex-end;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* work style */

.portfolio {
    display: flex;
    margin-top: 25px;
    margin-right: 35px;
    flex-direction: row-reverse;
}

.portfolio h2 {
    font-size: 30px;
}

.portfolio img {
    width: 50%;
}

.contact-info {
    display: flex;
    margin-top: 50px;
}

.contact-info h2 {
    font-size: 30px;
}

footer {
    color: #4059ad;
    font-weight: lighter; 
    font-size: 13px;
}